.container.text-sm-center
  %h3.flashy= list.title
%section.container{ id: "list-#{list.id}" }
  = link_to '+', new_task_path(list: list, board: @home_board), class: 'add-link', remote: true
  = link_to '#', new_lnk_path(list: list, board: @home_board), class: 'add-link new-lnk', remote: true
  .row
    .col-md-9.col-lg-10.col-12
      %ul.tasklist
        - incomplete(list.tasks.listed).each do |task|
          = render partial: 'tasks/listed_task', locals: { task: task }
    .col-md-3.col-lg-2.col-12
      .linklist
        - list.lnks.each do |lnk|
          = link_to lnk.text, lnk.href, target: '_blank', class: 'alink'
