.container.text-sm-center.pt-3
  %h3.flashy= list.title
%section.container.list-section{ id: "list-#{list.id}" }
  = link_to new_task_path(list: list, board: @home_board.nil? ? home_board : @home_board), class: 'icon-link add-link', remote: true do
    = inline_svg_tag('icons/add.svg', class: 'add-icon icon')
  = link_to new_lnk_path(list: list, board: @home_board.nil? ? home_board : @home_board), class: 'icon-link add-link new-lnk', remote: true do
    = inline_svg_tag('icons/hash.svg', class: 'lnk-icon icon')
  .row
    .col-md-9.col-lg-10.col-12
      %ul.tasklist
        - incomplete(list.tasks.listed).each do |task|
          = render partial: 'tasks/listed_task', locals: { task: task }
    .col-md-3.col-lg-2.col-12
      .linklist
        - list.lnks.each do |lnk|
          = link_to lnk.href, target: '_blank', class: 'alink' do
            = lnk.text
            = inline_svg_tag('icons/hash.svg', class: 'lnk-decoration')
