%h1.header-title.mountain
  Lists
  = link_to '+', new_list_path, class: 'add-link', remote: true

%section.container
  .row
    .col-12
      = link_to '+', new_task_path, class: 'add-link', remote: true
      %ul.tasklist
        - @orphanTasks.each do |task|
          %li= task.text
- @lists.each do |list|
  .container.text-center
    %h3.flashy= list.title
  %section.container
    .row
      .col-12
        = link_to '+', new_task_path(list: list), class: 'add-link', remote: true
        %ul.tasklist
          - list.tasks.each do |task|
            %li= task.text
