.row
  .col
    %h1 Lists

    = link_to 'New List', new_list_path
    = link_to 'New Task', new_task_path

.row
  .col
    %ul
      - @orphanTasks.each do |task|
        %li= task.text
    - @lists.each do |list|
      %h3= list.title
      = link_to '+ add Task', new_task_path(list: list)
      %ul
        - list.tasks.each do |task|
          %li= task.text
