.header.container-fluid.text-sm-center
  = link_to root_path do
    = render 'parts/logo'
  - if current_user
    .container.text-right.position-relative
      .header-links
        = link_to '', toggle_help_path, method: :patch, class: current_user.wants_help ? 'header-link help-tgl' : 'header-link help-tgl off', remote: true
        = link_to '', home_profile_path, class: "header-link #{current_page?(home_profile_path) ? 'active' : ''}"
