= form_for @task, remote: true do |f|
  = f.text_field :text
  = f.hidden_field :creator, value: current_user.id
  = f.hidden_field :board_id, value: params[:board]
  = f.hidden_field :flg_tomorrow
  = f.hidden_field :nbr_prio
  = hidden_field_tag :list_name
  .additionals
    - if params[:list]
      %small.float-right.pr-2
        = '~/' + List.find(params[:list]).board.title + '/' + List.find(params[:list]).title + '/...'
      = f.hidden_field :list_id, value: params[:list]
    %small.float-left.modifier.d-none.tomorrow
      tomorrow
    %small.float-left.modifier.d-none.important.one
      lo-prio
    %small.float-left.modifier.d-none.important.two
      medprio
    %small.float-left.modifier.d-none.important.three
      hi!prio
    .clearfix
.help.help-icon.help-quasimodal.text-center
  %small
    %span.white
      = '-t'
    sets task to tomorrow
  %small
    %span.white
      = '-[i:p][1:2:3]'
    sets importance/prio to 1/2/3
  %small
    %span.white
      = '/[listName]'
    sets list
  %small
    %span.white
      = 'shift+Enter'
    form stays open
