= form_for @task, remote: true do |f|
  = f.text_field :text
  = f.hidden_field :creator, value: current_user.id
  .additionals
    - if params[:list]
      %small.float-right= '~/' + List.find(params[:list]).title + '/...'
      = f.hidden_field :list_id, value: params[:list]
    %small.float-left.modifier.d-none.tomorrow
      tomorrow
    %small.float-left.modifier.d-none.important.one
      lo-prio
    %small.float-left.modifier.d-none.important.two
      medprio
    %small.float-left.modifier.d-none.important.three
      hi!prio
    .clearfix
.help.help-quasimodal
  %small
    %span.white
      = '-t / -[ip][123]'
    sets task to tomorrow / importance[123]
