= form_for @task, remote: true do |f|
  = f.text_field :text, class: 'cursor-left'
  = f.hidden_field :creator, value: current_user.id
  - if params[:list]
    %small.text-right= '~/' + List.find(params[:list]).title + '/...'
    = f.hidden_field :list_id, value: params[:list]
