= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :creator
    = f.number_field :creator
  .field
    = f.label :completed_at
    = f.datetime_select :completed_at
  .field
    = f.label :completed_from
    = f.number_field :completed_from
  .actions
    = f.submit 'Save'
