%p#notice= notice

%p
  %b Text:
  = @task.text
%p
  %b Creator:
  = @task.creator
%p
  %b Completed at:
  = @task.completed_at
%p
  %b Completed from:
  = @task.completed_from

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
