.header-interceptor
  .container.position-relative
    %h1.header-title You

%section.container.profile-settings
  = link_to destroy_user_session_path, method: :delete, class: 'header-link more' do
    %button.btn.btn-block Logout
  %br
  .row
    .col
      .supersettings
        %p
          = "Your HomeBoard will "
          %span.board-time= "#{'always'} "
          = "be #{render partial: '/home/parts/board_selector'}".html_safe
          %span.unless= 'unless?'
        %p= "This is enjoyed in the #{render partial: '/home/parts/theme_selector'} Theme.".html_safe

.container.text-sm-center
  %h3.flashy Boards
%section.container
  = link_to '+', new_board_path, class: 'add-link', remote: true
  .row.no-gutters
    .col-12
      .help.help-icon.help-section.text-center
        %small boards can only be deleted if empty
      %ul.boardlist
        - @boards.each do |board|
          %li{ id: "board-#{board.id}", class: board == current_user.home_board ? 'home-board' : '' }
            = board.title + " (#{board.lists.count})"
            - if board.lists.empty?
              = link_to '', board_path(board), method: :delete, remote: true, class: 'remove'

:javascript
  $('.profile-settings select[name="home_board"]').on('change', function(e) {
    $.ajax({
      url: "/set_home_board/" + $(e.target).val(),
      method: "PATCH"
    });
  });
  $('.profile-settings select[name="pref_theme"]').on('change', function(e) {
    $.ajax({
      url: "/set_theme/" + $(e.target).val(),
      method: "PATCH"
    });
  });
