.header-interceptor
  .container.position-relative
    %h1.header-title You

%section.container.profile-settings
  = link_to destroy_user_session_path, method: :delete, class: 'header-link more' do
    %button.btn.btn-block Logout
  %br
  .row
    .col
      .supersettings
        %p
          = "Your HomeBoard will "
          = "#{render partial: '/home/parts/board_time_selector'}".html_safe
          = "be #{render partial: '/home/parts/board_selector'}".html_safe
          %span.unless
            = 'unless'
          %span.extra
            = "on #{render partial: '/home/parts/extra_time_selector'} it will be".html_safe
          = "#{render partial: '/home/parts/extra_board_selector'}".html_safe
        %p= "This is enjoyed in the #{render partial: '/home/parts/theme_selector'} Theme.".html_safe

.container.text-sm-center
  %h3.flashy Boards
%section.container
  = link_to '+', new_board_path, class: 'add-link', remote: true
  .row.no-gutters
    .col-12
      .help.help-icon.help-section.text-center
        %small boards can only be deleted if empty
      %ul.boardlist
        - @boards.each do |board|
          %li{ id: "board-#{board.id}" }
            = board.title + " (#{board.lists.count})"
            - if board.lists.empty?
              = link_to '', board_path(board), method: :delete, remote: true, class: 'remove'

:javascript
  $('.profile-settings select[name="home_board"]').on('change', function(e) {
    $.ajax({
      url: "/set_home_board/" + $(e.target).val(),
      method: "PATCH"
    });
  });
  $('.profile-settings select[name="pref_theme"]').on('change', function(e) {
    $.ajax({
      url: "/set_theme/" + $(e.target).val(),
      method: "PATCH"
    });
  });
  $('.supersettings #board-time').on('change', function(e) {
    if ($(e.target).val() == 'always') {
      $(e.target).parents('.supersettings').removeClass('active');
      $(e.target).attr('disabled', true);
    }
  })
  $('.supersettings .unless').click( function(e) {
    $(e.target).parents('.supersettings').addClass('active');
    $(e.target).siblings('#board-time').attr('disabled', false);
    $(e.target).siblings('#board-time').val('workdays');
  });

  $('.supersettings select').on('change', function(e) {
    var settings = {
      'board_time': $('.supersettings #board-time').val(),
      'home_board_id': $('.supersettings #home-board').val(),
      'extra_time': $('.supersettings #extra-time').val(),
      'extra_board_id': $('.supersettings #extra-board').val()
    };
    $.ajax({
      url: "/set_tings/" + encodeURIComponent(JSON.stringify(settings)),
      method: "PATCH"
    });
  });
