.lists
  %section.container#list-
    = link_to '+', new_task_path(board: @home_board), class: 'add-link', remote: true
    = link_to '#', new_lnk_path(board: @home_board), class: 'add-link new-lnk', remote: true
    .row.no-gutters
      .col-md-9.col-lg-10.col-12
        %ul.tasklist
          - incomplete(@home_board.orphan_tasks.listed).each do |task|
            %li{ class: "#{task.flg_tomorrow ? 'tomorrow' : ''} prio-#{task.nbr_prio}", id: "task-#{task.id}" }
              = task.text
              = link_to '', complete_task_path(task.id), method: :patch, remote: true, class: 'check'
      .col-md-3.col-lg-2.col-12
        .linklist
          - @home_board.orphan_lnks.each do |lnk|
            = link_to lnk.text, lnk.href, target: '_blank', class: 'alink'

  - @home_board.lists.each do |list|
    = render partial: 'lists/show', locals: { list: list }

:javascript
  window.addEventListener("turbolinks:load", () => {
    $(document).keyup(function(){
      // console.log(event.key);
      if (event.key == 't' && !$('.quasi-modal').hasClass('active')) {
        $.ajax({url: "#{new_task_path(board: @home_board)}"});
      }
      if (event.key == 'Escape' && $('.quasi-modal').hasClass('active')) {
        $('.quasi-modal').removeClass('active')
      }
    });
  });
