!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Thngs
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: 'preconnect', href: 'https://fonts.gstatic.com' }
    %link{ href: "https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Righteous&display=swap", rel: "stylesheet" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'quasi_modal'
  %body{ class: current_user.wants_help ? 'show-help' : '' }
    = render 'parts/header'
    = yield
    .quasi-modal
      .overlay
      .h
        .content
